.detail{
    margin:2%;
    padding:5%;
}
h1{
    margin: 20px;
    color: green($color: #00501b);
    text-align: center;
}
strong{
    color: blue($color: #044164);
    padding-right: 20px;
}