.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }
  .container {
    padding: 16px;
  }
  input.ng-invalid.ng-touched {
    border: 1px solid red;
  }
  .help{
    color: red;
  }
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

 label{
     margin: 20px 20px 0 0;
  }
  .form-group{
      margin: 0 45px 0 0;
  }
  h3{
      margin:40px 0 40px 20px;
  }
